* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
}
h1,
h4 {
  font-weight: normal;
  margin: 0;
}
li {
  list-style: none;
  padding: 0;
}
a {
  color: #808080;
  display: inline-block;
  text-decoration: none;
}
.clearfix::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
.container {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  overflow: scroll;
}
.logo {
  text-align: center;
  margin: 5rem auto;
  height: 7rem;
  width: 7rem;
}
.logo img {
  width: 100%;
}
.inputbox {
  border-bottom: 1px solid #808080;
  color: #808080;
  padding-bottom: 4px;
  margin-top: 2rem;
}
.inputbox span {
  display: inline-block;
  width: 18%;
  font-size: 1.1rem;
}
.inputbox input {
  display: inline-block;
  width: 80%;
  border: none;
  outline: none;
  font-size: 0.8rem;
}
.login {
  width: 75%;
  background-color: #1c9ef8;
  text-align: center;
  border-radius: 2.6rem;
  margin: 2.4rem auto 0;
  height: 2.6rem;
  line-height: 2.6rem;
  width: 100%;
  color: #FFF;
  border: none;
  outline: none;
  font-size: 1rem;
}
.content {
  overflow: scroll;
  background-color: #FFF;
}
.body {
  background-color: #f5f5f5;
}
.head {
  margin: 1rem auto;
  width: 8.6rem;
  height: 8.6rem;
  background-color: #FFF;
  border-radius: 50%;
  text-align: center;
}
.head i {
  color: #9c9c9c;
  font-size: 8rem;
}
.info {
  color: #585858;
  margin-top: 0.8rem;
}
.info .items {
  background-color: #FFF;
  margin-bottom: 2px;
  padding: 1rem 5%;
}
.info .items span {
  width: 20%;
  float: left;
  color: #9c9c9c;
}
.info .items p {
  float: left;
  width: 80%;
  margin: 0;
  color: #585858;
  text-align: right;
}
.btn {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1c9ef8;
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}
.btn a {
  width: 100%;
  height: 2.8rem;
  line-height: 2.8rem;
  color: #FFF;
}
.errmark {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.errmark .errinfo {
  width: 70%;
  margin: 0 auto;
  background-color: #FFF;
  position: absolute;
  height: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 6px;
}
.errmark .errinfo h1 {
  font-size: 1.1rem;
  color: #333333;
  line-height: 2.6rem;
  border-bottom: 1px solid #d1d1d1;
}
.errmark .errinfo p {
  color: #808080;
}
.errmark .errinfo .btn {
  position: relative;
  margin: 0;
  font-size: 1.1rem;
  border-radius: 0 0 6px 6px;
  height: 2.8rem;
  line-height: 2.8rem;
  color: #FFF;
}
@media only screen {
  html {
    font-size: 30px;
  }
}
@media only screen and (max-width: 479px) and (min-width: 321px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  html {
    font-size: 13px;
  }
}
