@font-face {
    font-family: "iconfont";
    src: url('iconfont.eot?t=1492063432832'); /* IE9*/
    src: url('iconfont.eot?t=1492063432832#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff?t=1492063432832') format('woff'), /* chrome, firefox */
    url('iconfont.ttf?t=1492063432832') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('iconfont.svg?t=1492063432832#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-account_nor:before {
    content: "\e60d";
}
.icon-books_nor:before {
    content: "\e60e";
}
.icon-library_pre:before {
    content: "\e60f";
}
.icon-books_pre:before {
    content: "\e610";
}
.icon-account_pre:before {
    content: "\e611";
}
.icon-share_nor:before {
    content: "\e612";
}
.icon-share_pre:before {
    content: "\e613";
}
.icon-add:before {
    content: "\e614";
}
.icon-histroy:before {
    content: "\e615";
}
.icon-point:before {
    content: "\e616";
}
.icon-enter:before {
    content: "\e617";
}
.icon-delet:before {
    content: "\e618";
}
.icon-search:before {
    content: "\e619";
}
.icon-star:before {
    content: "\e61a";
}
.icon-shouqi:before {
    content: "\e61b";
}
.icon-zhankai:before {
    content: "\e61c";
}
.icon-chahao:before {
    content: "\e61d";
}
.icon-library_nor:before {
    content: "\e61e";
}